body{
font-family:Arial;
text-align:center;
background:#e3f2fd;
}

#quiz{
margin-top:100px;
}

button{
display:block;
margin:10px auto;
padding:12px;
width:260px;
font-size:16px;
border:none;
border-radius:6px;
cursor:pointer;
background:#ffffff;
transition:0.3s;
}

button:hover{
background:#eeeeee;
}

button.correct{
background:#4CAF50;
color:white;
}

button.wrong{
background:#F44336;
color:white;
}

#question{
font-size:22px;
margin-bottom:25px;
}

/* STREAK UI */

#streakContainer{

position:absolute;
top:20px;
right:30px;
bottom: 200px;

font-size:20px;

display:flex;
align-items:center;
gap:8px;

}

/* FLAME LEVELS */

.flame-cold{
color:#ffcc80;
font-size:24px;
}

.flame-warm{
color:#ff9800;
font-size:26px;
}

.flame-hot{
color:#ff5722;
font-size:30px;
}

.flame-max{
color:#ff0000;
font-size:36px;
}